<!-- <div class="container">
   <div class="row">
     <ul class="nav nav-tabs">
        <li role="presentation" >
         <%= link_to 'Products', admin_products_path %>
        </li>
        <li role="presentation" class="active">
         <%= link_to 'Orders', admin_orders_path %>
        </li>

     </ul>
   </div>
 </div> -->
   <br>

<table>
  <tr>
    <th>#</th>
    <th>Order Number</th>
    <th>Customer</th>
    <th>Amount</th>
    <th>Payment status</th>
    <th>Shipping status</th>
    <th>Order Detail</th>
  </tr>
  <% @orders.each do |order| %>
    <tr>
      <td><%= order.id %></td>
      <td><%= order.sn %></td>
      <td><%= order.user.email %></td>
      <td><%= order.amount %></td>
      <td><%= order.payment_status %></td>
      <td><%= order.shipping_status %></td>
      <td><%= link_to "Edit Detail", edit_admin_order_path(order) %></td>
    </tr>
  <% end %>
</table>
 <%= paginate @orders %>
