<%= link_to "Add New Product", new_admin_product_path, class: "btn btn-info"%>
<!-- <div class="container">
   <div class="row">
     <ul class="nav nav-tabs">
        <li role="presentation" class="active">
         <%= link_to 'Products', admin_products_path %>
        </li>
        <li role="presentation">
         <%= link_to 'Orders', admin_orders_path %>
        </li>

     </ul>
   </div>
 </div> -->
   <br>
<table>
  <tr>
    <th>Product Name</th>
    <th>Image</th>
    <th>Price</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  <% @products.each do |product| %>
    <tr>
      <td><%= product.name %></td>
      <td><%= image_tag(product.image, width: 50) if product.image? %></td>
      <td><%= product.price %></td>
      <td><%= link_to "Edit Detail", edit_admin_product_path(product) %></td>
      <td><%= link_to "Delete", admin_product_path(product), method: :delete %></td>
    </tr>
  <% end %>
</table>
<%= paginate @products %>
