<div class="container">
   <div class="row">
     <ul class="nav nav-tabs">
        <li role="presentation" class="active">
         <%= link_to 'Products', admin_products_path %>
        </li>
        <li role="presentation">
         <%= link_to 'Orders', admin_orders_path %>
        </li>

     </ul>
   </div>
 </div>
   <br>

<%= render "shared/cart" %>

<section id="product-list">
  <% @products.each do |product| %>
   <div class="product-box product_<%= product.id %>">
     <%= link_to product_path(product) do %>
       <%= image_tag product.image %><br>
       <%= product.name %><br>
     <% end %>
     $<%= product.price %>
    <%= button_to 'Add to Cart', add_to_cart_product_path(product), remote: true %>
   </div>

  <% end %>
</section>

 <%= paginate @products %>
